@font-face {
    font-family: 'Noto Sans Mono';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 62.5% 100%;
    font-display: swap;
    src: url('../fonts/noto-sans-mono/NotoSansMono-VariableFont_wdth,wght.ttf') format('truetype-variations');
}
