@layer components {
  .rz-col {
    grid-column: span var(--rz-col-size) / span var(--rz-col-size);
  }
}

@media (min-width: 640px) {
  .rz-col {
    grid-column: span var(--rz-col-sm-size, var(--rz-col-size)) / span var(--rz-col-sm-size, var(--rz-col-size));
  }
}

@media (min-width: 768px) {
  .rz-col {
    grid-column: span var(--rz-col-md-size, var(--rz-col-sm-size, var(--rz-col-size))) / span
      var(--rz-col-md-size, var(--rz-col-sm-size, var(--rz-col-size)));
  }
}

@media (min-width: 1024px) {
  .rz-col {
    grid-column: span var(--rz-col-lg-size, var(--rz-col-md-size, var(--rz-col-sm-size, var(--rz-col-size)))) / span
      var(--rz-col-lg-size, var(--rz-col-md-size, var(--rz-col-sm-size, var(--rz-col-size))));
  }
}

@media (min-width: 1280px) {
  .rz-col {
    grid-column: span
      var(--rz-col-xl-size, var(--rz-col-lg-size, var(--rz-col-md-size, var(--rz-col-sm-size, var(--rz-col-size))))) /
      span
      var(--rz-col-xl-size, var(--rz-col-lg-size, var(--rz-col-md-size, var(--rz-col-sm-size, var(--rz-col-size)))));
  }
}

@media (min-width: 1536px) {
  .rz-col {
    grid-column: span
      var(
        --rz-col-2xl-size,
        var(--rz-col-xl-size, var(--rz-col-lg-size, var(--rz-col-md-size, var(--rz-col-sm-size, var(--rz-col-size)))))
      ) /
      span
      var(
        --rz-col-2xl-size,
        var(--rz-col-xl-size, var(--rz-col-lg-size, var(--rz-col-md-size, var(--rz-col-sm-size, var(--rz-col-size)))))
      );
  }
}
