@layer components {
  .cad-sheet-toolbar-actions,
  .zy-sheet-toolbar-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }
}

.cad-sheet-toolbar-actions,
.zy-sheet-toolbar-actions {
  @apply xl:justify-end;
}
