# {{{galleryTitle}}}

[Index]({{{backLink}}})

{{#items}}
## {{{title}}}

{{#statusLine}}
{{{statusLine}}}{{#pageLink}} [open]({{{pageLink}}}){{/pageLink}}

{{/statusLine}}
[![{{{title}}}]({{{image}}})]({{{capturedUrl}}})

---
{{/items}}
{{#removedTable}}
## Removed pages

{{{removedTable}}}
{{/removedTable}}
